*  { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

body{ 
  
    align-items: center;
    background: whitesmoke;
   

}

.article{
    background: white;
    width: 300px;
    height:auto;
    text-align: center;
    margin-bottom: 10px;
}
.articleSience{
    width:100%;
    height:100vh;
    background: chartreuse;
    overflow-x:hidden ;
    display: flex;
    flex-direction: column;
}
.Sience{
    padding:5px;
}
.Sience p{
    font-size:18px;
    text-align: left;
}
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}