*  { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

body{ 
   font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    background:black;
    height: 100vh;
    
}
h1{
    font-family: 'Montserrat', sans-serif; ;
    font-weight: bolder;
    color:white;
    font-size: 43px;
    width: auto;
    height: 0px;
}

h2{
    font-family: 'Montserrat', sans-serif;
}
main{
     width:100%;
    min-width:499px;
    height:auto;
    overflow-y:auto;
  
}
nav{        
        margin-bottom: 5px;;
        min-height: 90px;
        width:100%;
        background:#008080;
        text-align: center;
   
    }
a{
    color:white;
}

nav a{
    font-size: 12px;
    border-radius:2px;
    margin-left:-4px;
    padding: 0px 6px;
    padding-top:10px;
    width:auto;
    height: 30px;
    display:inline-block ;

}
.navBtns{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top:50px;
    width:300px;
    height:40px;
    background: rgba(50,50,50,0.7);
    border-radius:15px;
}

nav a:hover{
    background-color:rgba(255,0,92,0.3);
    cursor:pointer;
}
nav a:active{
    background-color: tomato;
}
.article-box{
    height: auto;
    width: 100%;
}
.article{
    background: white;
    height:333px;
    width: 90%;
    height:auto;
    text-align: left;
    border-radius: 10px;
    padding:4px;
    
   
}
.article p:nth-child(3){
 font-size: 20px;
 font-weight: bold;
 color:grey;
 width:100%;
 border-bottom: 1px solid black;
}
.article p:nth-child(7){
 font-size: 10px;
 color:grey;
 width:100%;
 border-bottom: 1px solid black;
}

.sience{
    margin:15px auto 15px auto;  
    
}
.culture{
    margin:15px auto 15px auto; 
    display:none ;
}
.sport{
    margin:15px auto 15px auto;
    display:none  
}
.tech{
    margin:15px auto 15px auto;
    display: none;  
}
.devlopers{
    margin:15px auto 15px auto;
    display: none;  
}
/*
fonts
font-family: 'Montserrat', sans-serif; -> header
font-family: 'Roboto', sans-serif; -> text

*/
  

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
 
main{
     width:100%;
    min-width:500px;
    min-height:155vh;
  
}
h1{
    font-size: 22px;;
    margin-top: 4px;
    
}
h2{
    font-size: 18px;
    
}
.navBtns{
     left: 50%;
    transform:scale(1.35) translateX(-38%);
}

}


